/* Font */
.header {
  font-weight: 500;
  font-size: 24px;
}

/* Navbar */
.navbar {
  background: #186049;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

hr {
  width: 250px;
  border-top: 3px solid #F4BC4F;
}

.jumbotron .display-4 {
  color: black;
  margin-top: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

section {
  padding-top: 5rem;
  padding-bottom: 20px;
}

section.green {
  background: #186049;
  padding-top: 30px;
  padding-bottom: 20px;
}

.pKiri {
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}

.pKanan {
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}

section .partner-image,
.pengembang .card {
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translate(0, 24px);
  transform: translate(0, 24px);
}

section .fitur {
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translate(0, -24px);
  transform: translate(0, -24px);
}

section.tentang iframe {
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translate(24px, 0);
  transform: translate(24px, 0);
}

.show-parallax {
  opacity: 1 !important;
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

.partner-image {
  width: 50px;
  height: 50px;
}

.bullet {
  width: 4px;
  margin-left: 15px;
  margin-right: 10px;
  background: #F4BC4F;
}

iframe {
  width: 100%;
  height: 200px;
}

.text-block {
  width: 96.5%;
  position: absolute;
  bottom: 0px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  border-radius: 2px;
}

.text-block .header {
  font-weight: 500;
  font-size: 18px;
}

.text-block span {
  font-size: 12px;
}

.button {
  background: #F4BC4F;
  color: #1E1E1E;
}

/* Desktop Version */
@media (min-width: 992px) {

  .nav-link {
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 1px solid white;
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .partner-image {
    margin: 10px;
    width: 100px;
    height: 100px;
  }

  iframe {
    height: 500px
  }
}